# Cpp ignores
**/x64/**
*.vcxproj.user
**/.vs/**
**/tmp/**

# Latex ignores
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*Notes.bib

# Exercise 1 specific
exercise-1/data/